.footer {
    width: 100%;
    background-color: #3c0101;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    padding: 100px 0;
}
  
.footer-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
  
.footer-section h4 {
    margin-bottom: 10px;
}
  
.footer-section p {
    margin: 5px 0;
}
  
.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}
  
.social-icons i:hover {
    color: #ff9900;
}
  
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        text-align: center;
    }
}
  